.data-table { 
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

table, th, td {
    border: 1px double transparent;
    border-collapse: collapse;
}

td, th { 
    padding: 20px;
}

th { 
    background-color: rgb(48, 48, 48);
    color: #fff
}

tr:nth-child(even) {
    background-color: rgb(160, 159, 159);
    color: #fff;
}

button {
    border-radius: 20px;
    padding: 10px;
    background-color: #000;
    color: #fff;
}